/* global styles */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

* {
  font-family: Fira Sans, sans-serif;
}

/*fix the checklist overflow - mysterious dot*/
div[id^=part_checklist] table tr td:first-of-type {
  text-overflow: unset;
}

/* remove automatic slate margins in portals */
.part_rows_container>div.part {
  margin: 0;
}

/* default - mobile */
body {
  color: #1c2023;
  font-family: Fira Sans, sans-serif;
}

/*header*/
header.conAdmHeader {
  position: relative;
  width: 100%;
  display: flex;
  background: #002F5E;
}

/* basic text settings */
p, li, i, em {
  font-size: 14px;
  line-height:1.5em;
}

/* link colors for in-line text links and logout button */
p a, p a:link, div#userInformation a {
  color: #007ac8 !important;
  font-weight: 600;
}

p a:hover, p a:focus, div#userInformation a:hover, div#userInformation a:focus {
  background-color: #d9f0ff;
  color: #0062a1;
  text-decoration: none;
}

/* buttons */
.button {
  background-color: #5DA225;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff !important;
  text-decoration: none;
  font-size: 18px;
  display: block;
  line-height: 1.5em;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: fit-content;
}

.button-wrap {
  padding: 20px 0;
}

/*fix the checklist overflow - mysterious dot*/
div[id^=part_checklist] table tr td:first-of-type {
  text-overflow: unset;
}

/* remove automatic slate margins in portals */
.part_rows_container>div.part {
  margin: 0;
}

/* default - mobile */
/*header*/
header.conAdmHeader {
  position: relative;
  width: 100%;
  display: flex;
  background: #002F5E;
}

.conAdmLogo {
  display: flex;
  margin: 0 auto;
}

img.logo {
  margin: 0 auto;
  width: 120px;
  padding: 20px;
}

/* footer */
footer.conAdmFooter {
  position: relative;
  width: 100%;
  background: #002F5E;
  box-sizing: border-box;
}

div.conAdmFooterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 2rem 0 0;
  box-sizing: border-box;
}

div.conAdmFooterLogo {
  display: none;
}

div.conAdmFooterInfo span, div.conAdmFooterInfo a {
  font-family: Montserrat, sans-serif;
}

div.conAdmFooterInfo {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  text-align: center;
  flex: 2 1 200px;
  align-self: center;
}

div.conAdmFooterInfo span {
  display: block;
}

div.conAdmFooterInfo span a {
  display: block;
  text-decoration: none;
}

div.conAdmFooterInfo span.footerOffice {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.05em;
  font-weight: 800;
}

span.footerLinks {
  margin: 15px 0;
}

.footerLinks {
  margin: 15px 0 !important;
}

div.conAdmFooterInfo span.footerLinks a {
  color: #52BCFF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

div.conAdmFooterInfo span.footerDisclosures a {
  color: #FFFFFF;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

div.conAdmFooterInfo span {
  display: block;
  margin: 0;
}

div.conAdmFooterInfo span a {
  display: block;
  text-decoration: none;
  margin: 0.5em 0 0;
}

div.conAdmFooterSocial {
  flex: 1 1 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.social-logo {
  width: 40px;
  display: flex;
}

.conAdmFooterSocial a {
  width: 50px;
  height: 50px;
}

/* nav */
nav.conAdm {
  background: #002f5e;
  text-align: center;
  position: relative;
}

nav.conAdm div.navTabs {
  background: #0062a1;
  display: flex;
  list-style: none;
  color: white;
  font-family: Fira Sans, sans-serif;
  font-size: 17px;
  line-height: 22px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

nav.conAdm div.navTabs div {
  margin: 0 auto;
  display: inline-block;
  padding: 0.75em;
  width: 33%;
}

div.selected {
  background: #007ac8;
}

nav.conAdm div.navTabs div.selected a {
  font-weight: bold;
}

nav.conAdm div.navTabs div a {
  color: unset;
  background-color: transparent;
  text-decoration: none;
  display: block;
}

/* body, aka ajax container */
#ajaxContainer {
  width: 90%;
  margin: 0 auto 4rem;
  min-height: calc(100vh - 417px - 4rem);
}

#ajaxContainer h1 {
  font-size: 24px;
  line-height: 29px;
  color: #1c2023;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
}

#ajaxContainer h1:first-of-type {
  padding: 1em 0 0.5em;
}

#ajaxContainer h2 {
  color: #1c2023;
  font-family: Fira Sans, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  margin: 1em 0 .5em 0;
}

/* user info banner */
#userInformation {
  font-family: Fira Sans, sans-serif;
  text-align: right;
  margin: 1rem 0 0 auto;
  font-size: 16px;
  line-height: 19px;
}

#userInformation a {
  text-decoration: none;
  margin-left: 0.25em;
}

/* CHECKLIST STYLES */
div.checklistItem {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px;
}

/*container for initial content within the checklist */
div.checklistHeaderWrap {
  display: flex;
  width: 100%;
}

/* container for checklistItemStatus and checklistItemCTA */
div.checklistStatusWrap {
  flex: 1;
}

div.checklistItemStatus {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  font-weight:500;
  letter-spacing: 0.03em;
  line-height: 25px;
  text-transform: uppercase;
}

div.checklistItemStatus img {
  margin-right: 0.5em;
  width: 17px;
  height: 17px;
}

.checklistItemCTA a {
    color: #007AC8;
    font-size:14px;
    text-decoration: none;
    line-height: 1.5em;
}

.checklistItemCTA a:hover,
.checklistItemCTA a:focus {
    text-decoration: underline;
}

div.checklistItemTitle {
  color: #1c2023;
  display:flex;
  flex: 3;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0 10px 0 20px;
}

div.checklistItemDate {
  flex: 1;
  font-weight: 600;
  line-height:25px;
  max-width: 50px;
  font-size: 14px;
}

div.checklistItemInstructions {
  padding-top: 1em;
  flex-basis: 100%;
}

div.checklistItemInstructions p, div.checklistItemInstructions li, div.checklistItemInstructions em, div.checklistItemInstructions i  {
  font-size:14px;
  line-height:1.6em;
}

/* orientation and sessions styles */
label {
  font-family: Fira Sans, sans-serif;
  font-size: 14px;
  line-height: 2.5em;
}

table.table {
  line-height: 1.5em;
  font-size: 14px;
}

/* resources styles */
div.resourceItem {
  margin: 20px 0;
}

div.resourceItem h3,
div.resourceItem p {
  font-family: Fira Sans, sans-serif;
  line-height: 20px;
  color: #1c2023;
}

div.resourceItem h3 {
  font-size: 16px;
}

div.resourceItem p {
  font-size: 14px;
}

div.resourceItem a {
  color: #007CB1;
  text-decoration: none;
}

/* faq accordion styles */
div.faq-accordion {
  border: 1px solid #E5E5E5;
  margin: 1rem 0;
  color: #1c2023;
  font-family: Fira Sans, sans-serif;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  overflow-y: hidden;
}

div.faq-accordion-header {
  background: #fff;
  padding: 1rem 2rem 0rem 3rem;
  cursor: pointer;
  font-size: 18px;
  position: relative;
}

div.faq-accordion-header::before {
  content: "+";
  position: absolute;
  left: 1em;
  font-size: 24px;
}

div.faq-accordion-header.open::before {
  transform: rotate(-45deg);
}

div.faq-accordion-body {
  visibility: hidden;
  transition: max-height 0.1s linear, visibility 0.1s linear;
  max-height: 0;
  padding: 1rem 1rem 0rem 3rem;
}

div.faq-accordion-body.open {
  transition: max-height 0.1s linear;
  visibility: visible;
  max-height: 3000px;
  padding: 1rem 1rem 1rem 3rem;
}

/* BIGGER THAN A PHONE */
@media (min-width: 541px) {

  /* basic text settings */
  p, ol, ul, li, i, em {
    font-size: 16px;
    line-height:1.6em;
  }

  /*header*/
  img.logo {
    margin: 0 auto;
    width: 150px;
    padding: 30px;
  }

  /* footer */
  footer.conAdmFooter {
    position: relative;
    width: 100%;
    background: #002F5E;
    padding: 2rem 0 3rem;
  }

  div.conAdmFooterContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 1rem;
  }

  div.conAdmFooterLogo {
    display: block;
    align-self: center;
    flex: 2 2 200px;
  }

  img.logo-footer {
    width: 100%;
    max-width: 240px;
  }

  div.conAdmFooterInfo {
    text-align: left;
  }

  /* nav */
  nav.conAdm {
    background: #002f5e;
    text-align: center;
    position: relative;
  }

  nav.conAdm div.navTabs {
    background: #0062a1;
    display: flex;
    list-style: none;
    color: white;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto;
    position: relative;
    max-width: 600px;
  }

  nav.conAdm div.navTabs div {
    margin: 0;
    display: inline-block;
    padding: 1em 0.5em;
    width: 33%;
  }

  nav.conAdm div.navTabs div.selected a {
    font-weight: bold;
  }

  nav.conAdm div.navTabs div a {
    color: unset;
    text-decoration: none;
    display: block;
  }

  /* body, aka ajax container */
  #ajaxContainer {
    max-width: 800px;
    margin: 0 auto 4rem;
    min-height: calc(100vh - 520px - 4rem);
  }

  #ajaxContainer h1 {
    font-size: 36px;
    line-height: 44px;
    color: #1c2023;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
  }

  #ajaxContainer h1:first-of-type {
    padding: 1em 0 0.5em;
  }

  #ajaxContainer h2 {
    font-size: 30px;
    line-height: 46px;
    color: #1c2023;
    font-family: Fira Sans, sans-serif;
    font-weight: 500;
  }

  /* user info banner */
  #userInformation {
    font-family: Fira Sans, sans-serif;
    text-align: right;
    margin: 3rem 0 0 auto;
  }

  #userInformation a {
    text-decoration: none;
    margin-left: 1em;
  }

  /* orientation and sessions styles */
  label {
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    line-height: 2.5em;
  }

  table.table {
    line-height: 2em;
    font-size: 16px;
  }

  /* resources styles */
  div.resourceItem {
    margin: 10px 0;
    padding: 10px 0;
  }

  div.resourceItem h3,
  div.resourceItem p {
    font-family: Fira Sans, sans-serif;
    color: #1c2023;
  }

  div.resourceItem h3 {
    font-size: 18px;
    line-height: 22px;
  }

  div.resourceItem p {
    font-size: 16px;
    line-height: 22px;
  }

  div.resourceItem a {
    color: #007CB1;
    text-decoration: none;
  }

  /* faq accordion styles */
  div.faq-accordion {
    border: 1px solid #E5E5E5;
    margin: 1rem 0;
    color: #1c2023;
    font-family: Fira Sans, sans-serif;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    overflow-y: hidden;
  }

  div.faq-accordion-header {
    background: #fff;
    padding: 1rem 2rem 0rem 3rem;
    cursor: pointer;
    font-size: 18px;
    position: relative;
  }

  div.faq-accordion-header::before {
    content: "+";
    position: absolute;
    left: 1em;
    font-size: 24px;
    transition: 0.1s linear;
  }

  div.faq-accordion-header.open::before {
    transform: rotate(-45deg);
    transition: 0.1s linear;
  }

  div.faq-accordion-body {
    visibility: hidden;
    transition: max-height 0.1s linear, visibility 0.1s linear;
    max-height: 0;
    padding: 1rem 1rem 0rem 3rem;
  }

  div.faq-accordion-body.open {
    transition: max-height 0.1s linear;
    visibility: visible;
    max-height: 600px;
    padding: 1rem 1rem 1rem 3rem;
  }
}
